/* for 980px or less */
@media screen and (max-width: 980px) {
 
 #pagewrap {
       width: 94%;
 }
 #content {
       width: 65%;
 }
 #sidebar {
       width: 30%;
 }
}

/* for 700px or less */
@media screen and (max-width: 700px) {
 #content {
        width: auto;
        float: none;
 }
 #sidebar {
        width: auto;
        float: none;
 }
}

/* for 480px or less */
@media screen and (max-width: 480px) {
 #header {
    height: auto;
 }
 h1 {
    font-size: 24px;
 }
 h3 {
    font-size: 14px;
 }
 .divtable{
 	padding: 0 0;
 	margin: 0 0;
 }
 table{
 	padding: 0 0;
 	font-size: 10px;
 	border-spacing:0;
 }
legend{
	 font-size: 14px;
}
#templatemo_main{
	font-size: 10px;
	margin-right: -5px;
	margin-left: -5px;
}
#havegoodsImage{
	width:80px;
}
#havesellgoodsorderPay_id2{
	margin-left:3px;
}
}