
.lb-paddingtop-fontnormal{
			padding-top: 7px;
			font-weight: normal;
			text-align: left;
		}
.padding-right-0{
	padding-right: 0;
}	

.word-hidden{
display: none;
}

thead tr td{
	/*border-right:1px solid;*/
	background-color:#e3e3e3;
	height: 32px;
	line-height: 32px;
}	
.break-wrap{
	word-break:break-all;
 	word-wrap:break-word
}
